<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class="container">
        <div class="heading">
            <h1 name="listTitle">
                <%= listTitle %>
            </h1>
        </div>
        <div class="listItems">
            <% listItems.forEach(item=> { %>
                <p>
                    <input type="checkbox">
                    <%= item %>
                </p>
                <%}); %>
                    <div class="form">
                        <form action="/" method="post">
                            <input type="text" name="newList" placeholder="New Item">
                            <button type="submit" name="list" value="<%= listTitle %>">+</button>
                        </form>
                    </div>


        </div>
    </div>
</body>

</html>